body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Segoe UI", "Source Sans Pro", sans-serif;
  font-size: 14px;
  line-height: 24px;
  background-color: #ffffff;
  color: #ffffff;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
}

.container {
  width: 1170px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.logo-link {
  display: block;
  padding-top: 6px;
}

.logo {
  width: 127px;
}



.navigation-list,
.portfolio-nav,
.portfolio-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.portfolio-nav {
  align-self: flex-end;
}

.navigation-list,
.portfolio-nav {
  display: flex;
  width: 551px;
  flex-wrap: wrap;
  min-width: 543px;
  box-sizing: border-box;
}

.main-navigation {
  box-sizing: border-box;
  min-height: 150px;
  background-color: rgba(53, 63, 70, 0.85);
  padding-top: 58px;
  margin-bottom: 250px;
}

.wrapper-nav {
  display: flex;
  justify-content: space-between;
}

.main-header {
  min-height: 800px;
  background-image: url("../img/background-header.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.navigation-list a,
.portfolio-nav a  {
  display: block;
  padding-left:18px;
  padding-right: 17px;
  padding-top: 4px;
  padding-bottom: 3px;
  box-sizing: border-box;
  border: 2px solid transparent;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: bold;
}

.portfolio-nav a {
  color: #515f67;
}

.navigation-list li,
.portfolio-nav li{
  margin-right: 11px;
}

.navigation-list li:last-of-type,
.portfolio-nav li:last-of-type{
  margin-right: 0;
}

.navigation-list a:hover,
.portfolio-nav a:hover {
  border: 2px solid #4bcaff;
  color: #4bcaff;
}

.slogan p{
  width: 970px;
  text-align: center;
  font-size: 42px;
  line-height: 75px;
  text-transform: uppercase;
  font-weight:  lighter;
  background-color: rgba(53, 63, 70, 0.85);
  margin: 0 auto;
}

.slogan p:first-child {
  width: 713px;
  margin-bottom: 12px;
}

.service {
  background-color: #4bcaff;
  min-height: 250px;
  padding-top: 70px;
  padding-bottom: 75.5px;
}

.portfolio {
  min-height: 725px;
  padding-top: 70px;
  padding-bottom: 75.5px;
}

.section-title {
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 45px;
  font-weight: 400;
  text-transform: uppercase;
}

.section-title::before {
  content: "";
  position: absolute;
  width: 45px;
  height: 2px;
  bottom: -2px;
}

.service-title {
  color: white;
}

.portfolio-title {
  color: #515f67;
}

.portfolio-title::before {
  background-color: #515f67;
}

.service-title::before {
  background-color: #ffffff;
}



.service-list p {
  margin: 0;
  font-size: 12px;
  line-height: 18px;
}

.service-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.service-item {
  position: relative;
  width: 270px;
  padding-top: 104px;
}

.service-item h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 10px;
}

.coffee::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20%;
  width: 34px;
  height: 48px;
  background-image: url("../img/coffee.png");
  background-repeat: no-repeat;
}

.instant::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20%;
  width: 48px;
  height: 48px;
  background-image: url("../img/instant.png");
  background-repeat: no-repeat;
}

.serious::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20%;
  width: 47px;
  height: 45px;
  background-image: url("../img/serious.png");
  background-repeat: no-repeat;
}

.frame::before {
  content: "";
  position: absolute;
  left: 0;
  top: 20%;
  width: 48px;
  height: 48px;
  background-image: url("../img/frame.png");
  background-repeat: no-repeat;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  min-height: 570px;
  margin-top: 80px;
}

.portfolio-list li {
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #979797;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list li:nth-of-type(4n) {
  margin-right: 0;
}

.portfolio-list img{
  filter: grayscale(2) brightness(1);
}

.portfolio-list li:hover:before {
  content: "";
  position: absolute;
  width:  100%;
  height: 100%;
  background-color: rgba(53, 63, 71, 0.9);
  z-index: 1;
}
